/*basic*/
*,
html,
body {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

#startside {
    display: block;
}

.splash {}

#pink_kol {
    display: flex;
    background-color: #D2DCE5;
}

#gul_kol {
    display: block;
    background-color: #BC9C67;
}

#groen_kol {
    display: block;
    background-color: #CC8A7E;
}

#blaa_kol {
    display: block;
    background-color: #879D93;
}



.kollage {
    flex-basis: 300px;
    flex-grow: 3;
    position: relative;
    height: 85vw;
}

.pink_b1 {
    position: relative;
    height: 30vw;
    width: 20vw;
    background-size: cover;
    left: 50vw;
    top: 5vw;

}

.pink_b2 {
    position: relative;
    height: 35vw;
    width: 24vw;
    background-size: cover;
    top: -20vw;
    left: 25vw
}

.pink_b3 {
    position: relative;
    height: 40vw;
    width: 28vw;
    background-size: cover;
    left: 44vw;
    bottom: 29vw;
}

.groen_b1 {
    position: relative;
    height: 50vw;
    width: 33vw;
    background-size: cover;
    left: 45vw;
    top: 16vw;

}

.groen_b2 {
    position: relative;
    height: 35vw;
    width: 24vw;
    background-size: cover;
    bottom: 6.5vw;
    left: 25vw
}



.groen_b3 {
    position: relative;
    height: 30vw;
    width: 26vw;
    background-size: cover;
    left: 28vw;
    bottom: 80vw
}

.blaa_b1 {
    position: relative;
    height: 30vw;
    width: 22vw;
    background-size: cover;
    left: 50vw;
    top: 20vw;

}

.blaa_b2 {
    position: relative;
    height: 45vw;
    width: 24vw;
    background-size: cover;
    top: -22vw;
    left: 25vw
}

.blaa_b3 {
    position: relative;
    height: 25vw;
    width: 38vw;
    background-size: cover;
    left: 34vw;
    bottom: 24vw;
}

.gul_b1 {
    position: relative;
    height: 38vw;
    width: 25vw;
    background-size: cover;
    left: 45vw;
    top: 35vw;

}

.gul_b2 {
    position: relative;
    height: 35vw;
    width: 26vw;
    background-size: cover;
    top: -28vw;
    left: 25vw
}

#myVideo {
    min-width: 100%;
    min-height: 100%;


    background-size: cover;

    width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
}

nav {
    /*    display: inline-flex;*/
    position: fixed;

    flex-direction: column;

    justify-content: space-around;
    z-index: 2;

    margin-left: 2vw;

    font-size: 1.12rem;
}

nav a {
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;

    transform: rotate(-90deg);
    margin-top: 8vw;

}

nav a:hover {
    cursor: pointer;
    animation: drej 0.1s linear forwards;
}


@keyframes drej {

    0% {
        transform: rotate(-90deg);
        transform-origin: center;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: center;
        /*                margin-left: 1vw;*/
    }
}

.citat_gul {
    width: 32vw;
    height: 20vw;
    font-size: 3rem;

    position: absolute;
    left: 24vw;
    bottom: 18vw;

    color: white;
    font-style: italic;
}

.citat_groen {
    width: 32vw;
    height: 20vw;
    font-size: 3rem;

    position: absolute;
    left: 53vw;
    top: 10vw;

    color: white;
    font-style: italic;
}

.splash {
    position: fixed;

    height: 15vw;
    width: 60vw;

    top: 10vw;
    left: 20vw;
}

.footer_container {
    display: flex;
    background-color: darkgrey;
    height: 15vw;

    text-align: center;
}

.footer_1,
.footer_2,
.footer_3 {
    flex-basis: 200px;
    flex-grow: 1;

    padding-top: 3vw;
}

kontakt_container {
    display: block;

}

.splash_billede {
    flex-basis: 200px;
    flex-grow: 1;

    height: 55vw;
    width: 100vw;

    top: 0vw;
    right: 0vw;

    position: absolute;
    background-size: cover;

    opacity: 0.6;
}

.bar {
    flex-basis: 200px;
    flex-grow: 1;

    position: relative;

    background-color: #719198;

    height: 100vw;
    width: 32vw;
    flex-direction: column;
}

.logo {
    position: absolute;

    height: 15vw;
    width: 80vw;

    top: 1vw;
    left: -2vw;
}

.kontakt_logo {
    position: absolute;

    height: 22vw;
    width: auto;

    top: 0.55vw;
    left: 10vw;

    transform: rotate(90deg);
}

.kontakt_linje {
    position: absolute;

    height: 20vw;
    width: auto;

    left: 8.5vw;
}
