/*basic*/
*,
html,
body {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

p {
    font-family: athelas, serif;
    font-weight: 400;
    font-style: normal;
}

#startside {
    display: flex;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;

    background-size: cover;

    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
}

.splash {
    position: fixed;

    height: auto;
    width: auto;

    top: 20vw;
    left: 31vw;
}

#pink_kol {
    display: flex;
    background-color: #D2DCE5;
}

#gul_kol {
    display: flex;
    background-color: #BC9C67;
}

#groen_kol {
    display: flex;
    background-color: #CC8A7E;
}

#blaa_kol {
    display: flex;
    background-color: #879D93;
}

@media only screen and (min-width: 700px) {

    .kollage {
        flex-basis: 300px;
        flex-grow: 3;
        position: relative;
        height: 85vw;
    }

    .gul_b1 {
        position: relative;
        height: 38vw;
        width: 25vw;
        background-size: cover;
        left: 45vw;
        top: 35vw;
        opacity: 0;

    }

    .gul_b2 {
        position: relative;
        height: 35vw;
        width: 26vw;
        background-size: cover;
        top: -28vw;
        left: 25vw;
        opacity: 0;
    }

    .pink_b1 {
        position: relative;
        height: 30vw;
        width: 20vw;
        background-size: cover;
        left: 50vw;
        top: 5vw;

        opacity: 0;
    }

    .pink_b2 {
        position: relative;
        height: 35vw;
        width: 24vw;
        background-size: cover;
        top: -20vw;
        left: 25vw;

        opacity: 0;
    }

    .pink_b3 {
        position: relative;
        height: 40vw;
        width: 28vw;
        background-size: cover;
        left: 44vw;
        bottom: 29vw;

        opacity: 0;
    }

    .blaa_b1 {
        position: relative;
        height: 30vw;
        width: 22vw;
        background-size: cover;
        left: 50vw;
        top: 20vw;

        opacity: 0;

    }

    .blaa_b2 {
        position: relative;
        height: 45vw;
        width: 24vw;
        background-size: cover;
        top: -22vw;
        left: 25vw;

        opacity: 0;
    }

    .blaa_b3 {
        position: relative;
        height: 25vw;
        width: 38vw;
        background-size: cover;
        left: 34vw;
        bottom: 24vw;

        opacity: 0;
    }

    .groen_b1 {
        position: relative;
        height: 50vw;
        width: 33vw;
        background-size: cover;
        left: 45vw;
        top: 16vw;

        opacity: 0;

    }

    .groen_b2 {
        position: relative;
        height: 35vw;
        width: 24vw;
        background-size: cover;
        bottom: 6.5vw;
        left: 25vw;

        opacity: 0;
    }

    .groen_b3 {
        position: relative;
        height: 30vw;
        width: 26vw;
        background-size: cover;
        left: 26vw;
        bottom: 80vw;

        opacity: 0;
    }

    .citat_gul {
        width: 32vw;
        height: 20vw;
        font-size: 3rem;

        position: absolute;
        left: 24vw;
        bottom: 18vw;

        color: white;
        font-style: italic;

        opacity: 0;
        cursor: default;
    }

    .citat_groen {
        width: 32vw;
        height: 20vw;
        font-size: 3rem;

        position: absolute;
        left: 53vw;
        top: 10vw;

        color: white;
        font-style: italic;

        opacity: 0;
        cursor: default;
    }
}

@media only screen and (max-width: 700px) {

    .kollage {
        flex-basis: 300px;
        flex-grow: 1;
    }

    .gul_b1 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;

    }

    .gul_b2 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .pink_b1 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 120vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .pink_b2 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 120vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .pink_b3 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 110vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .blaa_b1 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;

    }

    .blaa_b2 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .blaa_b3 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 70vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .groen_b1 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;

    }

    .groen_b2 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .groen_b3 {
        flex-basis: 300px;
        flex-grow: 1;
        height: 100vw;
        width: 80vw;
        background-size: cover;

        margin-left: 10vw;
        margin-top: 5vh;
    }

    .citat_gul {
        /*
        width: 32vw;
        height: 20vw;
        font-size: 3rem;

        position: absolute;
        left: 24vw;
        bottom: 18vw;

        color: white;
        font-style: italic;

        opacity: 0;
        cursor: default;
*/
    }

    .citat_groen {
        /*
        width: 32vw;
        height: 20vw;
        font-size: 3rem;

        position: absolute;
        left: 53vw;
        top: 10vw;

        color: white;
        font-style: italic;

        opacity: 0;
        cursor: default;
*/
    }
}

/*-------------navigation--------------*/

#navbar {
    position: fixed;
    flex-direction: column;

    justify-content: space-between;
    z-index: 2;

    font-size: 1.2rem;
    color: black;

    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: normal;

    margin-top: -1.5vw;

}


#navbar a {
    display: block;
    padding: 40px;
    text-decoration: none;

    transform: rotate(-90deg);
    margin-top: 3.5vw;

    color: black;
}

#navbar a:hover {
    cursor: pointer;
    animation: drej 0.1s linear forwards;
}

/*------------burgermenu------------*/
@media only screen and (max-width:820px) {

    .hide {
        display: none;
    }


    .bar1,
    .bar2,
    .bar3 {
        /*De 3 linjer til burgermenuen bliver her defineret*/
        display: flex;
        flex-wrap: wrap;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;

    }

    .change .bar1 {
        /*Her roterer vi linje1 og flytter den med translate */
        transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }


    .change .bar2 {
        /*linje 2 bliver gennemsigtig */
        opacity: 0;
    }


    .change .bar3 {
        /*Her roterer vi linje3 og flytter den med translate */
        transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .box {
        /*Boksen som linksene ligger i */
        height: 57.3vw;
        width: auto;
        background-color: rgba(222, 217, 213, 0.97);
        z-index: 1;


        position: fixed;
        margin: 12vw 0vw 0vw 5vw;
        border-radius: 2vw;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: flex-end;
    }

    .burgermenu {
        position: fixed;
        z-index: 2;

        right: 4vw;
        top: 4vw;
    }

    #navbar a {
        display: block;
        padding: 40px;
        text-decoration: none;

        margin-top: 3.5vw;
        transform: rotate(0deg);
    }

}

/*------------------footer----------------*/

.footer_container {
    display: flex;
    background-color: darkgrey;
    height: 12vw;

    padding-left: 5vw;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    /*            text-align: center;*/
}

.footer_1,
.footer_2,
.footer_3 {
    flex-basis: 200px;
    flex-grow: 1;

    padding-top: 3vw;
}

.footer_3 img {
    width: 2vw;
}


/*---------kontakt-siden----------*/

@media only screen and (min-width: 700px) {

    kontakt_container {
        display: block;

    }

    .splash_billede {
        flex-basis: 200px;
        flex-grow: 1;

        height: 40vw;
        width: 70vw;

        top: -0.3vw;
        right: 0vw;

        position: absolute;
        background-size: cover;

        opacity: 0.6;
    }

    .kontakt_bar {
        flex-basis: 200px;
        flex-grow: 1;

        position: relative;

        background-color: #8AA69A;

        height: 85vw;
        width: 32vw;
        flex-direction: column;
    }

    .logo {
        position: absolute;

        height: auto;
        width: 40vw;

        top: 20vw;
        left: 17.6vw;
    }

    .kontakt_logo {
        position: absolute;

        height: auto;
        width: 20vw;

        top: 8.4vw;
        left: 20vw;

        transform: rotate(90deg);
    }

    .kontakt_logo_stoltze {
        position: absolute;

        height: auto;
        width: 40vw;

        top: 20vw;
        left: 17.8vw;

    }

    .kontakt_linje {
        position: absolute;

        height: 20vw;
        width: auto;

        left: 21.5vw;

    }

    .kontakt_linje2 {
        position: absolute;

        height: 40vw;
        width: auto;

        left: 10.5vw;
        bottom: 6vw;

        transform: rotate(180deg);
    }

    .info_butikker {
        width: 20vw;
        height: 30vw;

        position: absolute;


        left: 13vw;
        bottom: 14vw;

        color: white;
        font-style: italic;
    }

    .info_butikker h3 {
        margin-top: 1vw;
    }

    .info_butikker p {
        margin-bottom: 1vw;
    }

    .kontakt_info_container1 {
        padding: 4vw;

        width: 34vw;
        height: 28vw;

        position: absolute;
        left: 32vw;
        top: 39.8vw;

        color: black;
    }

    .kontakt_info_container1 p {
        font-size: 1.6vw;
        margin-top: 1.4vw;
    }

    .kontakt_info_container1 h3 {
        font-size: 2.8vw;
    }

    .kontakt_info_container2 {
        /*    background-color: skyblue;*/
        padding: 4vw 4vw 4vw 8vw;

        width: 34vw;
        height: 28vw;

        position: absolute;
        left: 66vw;
        top: 39.8vw;

        color: black;
    }

    .kontakt_info_container2 p {
        font-size: 1.6vw;
        margin-top: 1.4vw;
    }

    .kontakt_info_container2 h3 {
        font-size: 2.8vw;
    }

    .kontakt_info_container2 img {
        width: 2vw;

    }

    .kontakt_info_container2 figure {
        width: 2vw;
    }



    /*------------------kontakt-Nyhedsbrev elementer-----------------*/

    .kontakt_info_container3 {
        /*    background-color: red;*/
        padding: 2vw 2vw 2vw 2vw;

        width: 68vw;
        height: 17vw;

        position: absolute;
        left: 32vw;
        top: 65vw;

        color: black;
    }

    input[type=text] {
        display: inline-block;
        width: 100%;
        padding: 20px 20px;
        margin: 10px 0;
        box-sizing: border-box;
    }

    input[type=submit] {
        background-color: #8AA69A;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 0px 2px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {

    /*
    .om_section {
        display: flex;
        flex-wrap: wrap;
    }
*/

    /*
    .om_container {
        display: flex;
        flex-wrap: wrap;
    }
*/


    .splash_billede_container {
        display: flex;
        flex-wrap: wrap;

    }

    .splash_billede {
        flex-basis: 200px;
        flex-grow: 1;

        flex-direction: row;


        height: 50vh;
        width: auto;
        margin-left: -40vw;

        background-size: cover;

        opacity: 0.6;
    }


    .kontakt_bar {
        flex-basis: 200px;
        flex-grow: 1;

        background-color: #8AA69A;


        height: 82vh;
        flex-direction: column;

    }

    .kontakt_logo {
        position: absolute;

        height: auto;
        width: 50vw;

        top: 25.4vw;
        left: 4vw;
    }


    .kontakt_logo_stoltze {
        position: absolute;

        height: 12vw;
        width: auto;

        top: 38vw;
        left: 3vw;
    }

    .kontakt_linje {
        position: absolute;

        height: 60vw;
        width: auto;

        left: 21vw;
        top: 15vw;

        transform: rotate(270deg) scaleY(-1);
    }

    .info_butikker {
        width: 70vw;
        height: 115vw;

        position: absolute;


        left: 23vw;
        top: 57vh;

        color: white;
        font-style: italic;
    }

    .kontakt_linje2 {
        position: absolute;

        height: 120vw;
        width: auto;

        left: 10.5vw;
        top: 54vh;

        transform: rotate(180deg);
    }

    .info_butikker h3 {
        margin-top: 2vw;
    }

    .info_butikker p {
        margin-bottom: 1vw;
    }

    .kontakt_info_container1 {
        display: flex;
        flex-wrap: wrap;
    }

    .kontakt_info_indhold1 {
        flex-basis: 200px;
        flex-grow: 1;

        padding: 5vw;

        color: black;
    }

    .kontakt_info_container1 p {
        font-size: 6vw;
        margin-top: 5vw;
    }

    .kontakt_info_container1 h3 {
        font-size: 9vw;
    }

    .kontakt_info_container1 h4 {
        font-size: 1vw;
        margin-left: 37vw;
    }

    .kontakt_info_container2 {
        display: flex;
        flex-wrap: wrap;

        padding: 4vw;
    }

    .kontakt_info_indhold2 {
        flex-basis: 200px;
        flex-grow: 1;

        padding: 5vw;

        color: black;
    }

    .kontakt_info_container3 {
        display: flex;
        flex-wrap: wrap;

        padding: 4vw;
    }

    form {
        flex-basis: 200px;
        flex-grow: 1;

        padding: 5vw;

        color: black;
    }

    input[type=text] {
        display: inline-block;
        width: 100%;
        padding: 20px 20px;
        margin: 10px 0;
        box-sizing: border-box;
    }

    input[type=submit] {
        background-color: #8AA69A;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 0px 2px;
        cursor: pointer;
    }

}


/*-----------------om os siden---------------------*/


@media only screen and (min-width: 700px) {
    /*
.om_container {
    display: flex;

*/

    .splash_billede_container {
        display: block;

    }

    .splash_billede_om {
        flex-basis: 200px;
        flex-grow: 1;

        height: 50vw;
        width: 70vw;

        top: -10vw;
        right: 0vw;

        position: absolute;
        background-size: cover;

        opacity: 0.6;
    }

    .om_bar {
        flex-basis: 200px;
        flex-grow: 1;

        position: relative;

        background-color: #E6D2D5;

        height: 110vw;
        width: 32vw;
        flex-direction: column;
    }

    .om_logo_stoltze {
        position: absolute;

        height: auto;
        width: 35vw;

        top: 18.7vw;
        left: 14vw;

        transform: rotate(90deg);
    }

    .om_logo {
        position: absolute;

        height: 3.5vw;
        width: auto;

        top: 1vw;
        left: 20vw;
    }

    .om_linje {
        position: absolute;

        height: 32vw;
        width: auto;

        left: 18vw;
        top: 4.2vw;

        transform: rotate(180deg);
        transform: scaleY(-1);
    }

    .portrait {
        padding: 4vw 4vw 4vw 6vw;

        width: 20vw;
        height: 32.5vw;

        position: absolute;
        left: 10vw;
        top: 40vw;

        background-size: contain;
        background-repeat: no-repeat;
    }

    .om_info_container {
        padding: 4vw 4vw 4vw 6vw;

        width: 68vw;
        height: 32.5vw;

        position: absolute;
        left: 32vw;
        top: 40vw;

        color: black;
    }

    .om_info_container p {
        font-size: 1.4vw;
        margin-top: 1.2vw;
    }

    .om_info_container h2 {
        font-size: 2.8vw;
    }

    .om_info_container h4 {
        font-size: 1vw;
        margin-left: 37vw;
    }

    .om_info_container2 {
        padding: 4vw;

        width: 68vw;
        height: 33vw;

        position: absolute;
        left: 32vw;
        top: 76vw;
    }

    .video_container {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;

        height: 48vh;
        width: 44.7vw;

        margin-left: 10vw;
        cursor: pointer;
    }

    .se_mere {
        position: absolute;
    }

}

@media only screen and (max-width: 700px) {

    .om_section {
        display: flex;
        flex-wrap: wrap;
    }

    /*
    .om_container {
        display: flex;
        flex-wrap: wrap;
    }
*/


    .splash_billede_container {
        display: flex;
        flex-wrap: wrap;

    }

    .splash_billede_om {
        flex-basis: 200px;
        flex-grow: 1;

        flex-direction: row;


        height: 50vh;
        width: 100vw;


        background-size: cover;

        opacity: 0.6;
    }


    .om_bar {
        flex-basis: 200px;
        flex-grow: 1;

        background-color: #E6D2D5;


        height: 6vh;
        flex-direction: column;

    }

    .om_logo_stoltze {
        position: absolute;

        height: auto;
        width: 70vw;

        top: 31.4vw;
        left: -4vw;

        transform: rotate(90deg);
    }


    .om_logo {
        position: absolute;

        height: 10vw;
        width: auto;

        top: 3vw;
        left: 3vw;
    }

    .om_linje {
        position: absolute;

        height: 60vw;
        width: auto;

        left: 4vw;
        top: 13vw;

        transform: rotate(180deg);
        transform: scaleY(-1);
    }

    .om_info_container {
        display: flex;
        flex-wrap: wrap;
    }

    .om_info_indhold {
        flex-basis: 200px;
        flex-grow: 1;

        padding: 5vw;

        color: black;
    }

    .om_info_container p {
        font-size: 6vw;
        margin-top: 5vw;
    }

    .om_info_container h2 {
        font-size: 10vw;
    }

    .om_info_container h4 {
        font-size: 1vw;
        margin-left: 37vw;
    }

    .om_info_container2 {
        display: flex;
        flex-wrap: wrap;

        padding: 4vw;
    }

    .video_container {
        /*        display: flex;*/
        background-size: contain;
        background-repeat: no-repeat;

        height: 32vh;
        width: 100vw;

    }

    .se_mere {
        position: absolute;
    }
}


/*---------------kob smykker flow side---------------*/

@media only screen and (max-width: 700px) {

    kob_container {
        display: block;
    }

    .splash_billede_kob {
        flex-basis: 200px;
        flex-grow: 1;

        height: 53vw;
        width: 70vw;

        top: -10vw;
        right: 0vw;

        position: absolute;
        background-size: cover;
    }

    .kob_bar {
        flex-basis: 200px;
        flex-grow: 1;

        position: relative;

        background-color: #D1DAE6;

        height: 100vw;
        width: 32vw;
        flex-direction: column;
    }

    .kob_logo_stoltze {
        position: absolute;

        height: auto;
        width: 35vw;

        top: 18.7vw;
        left: 14vw;

        transform: rotate(90deg);
    }

    .kob_logo {
        position: absolute;

        height: 3.5vw;
        width: auto;

        top: 1vw;
        left: 20vw;
    }

    .kob_linje {
        position: absolute;

        height: 32vw;
        width: auto;

        left: 18vw;
        top: 4.2vw;

        transform: rotate(180deg);
        transform: scaleY(-1);
    }

    .kob_info_container {
        padding: 4vw 4vw 4vw 6vw;

        width: 68vw;
        height: 25vw;

        position: absolute;
        left: 32vw;
        top: 43vw;

        color: black;

    }

    .kob_info_container p {
        font-size: 1.4vw;
        margin-top: 1.2vw;
    }

    .kob_info_container h2 {
        font-size: 2.8vw;
    }

    .kob_info_container h4 {
        font-size: 1vw;
        margin-left: 37vw;
    }

    .kob_info_container2 {
        padding: 0vw;
        padding-left: 6vw;

        width: 34vw;
        height: 35vw;

        position: absolute;
        left: 32vw;
        top: 68vw;
    }

    .kob_info_container3 {
        padding: 0vw;
        padding-left: 6vw;

        width: 34vw;
        height: 35vw;

        position: absolute;
        left: 66vw;
        top: 68vw;
    }

    .billede_1 {
        width: 25vw;
        height: 30vw;

        background-size: contain;
        background-repeat: no-repeat;
    }

    .billede_2 {
        width: 25vw;
        height: 30vw;

        background-size: contain;
        background-repeat: no-repeat;

    }

}

@media only screen and (min-width: 700px) {

    kob_container {
        display: block;
    }

    .splash_billede_kob {
        flex-basis: 200px;
        flex-grow: 1;

        height: 53vw;
        width: 70vw;

        top: -10vw;
        right: 0vw;

        position: absolute;
        background-size: cover;
    }

    .kob_bar {
        flex-basis: 200px;
        flex-grow: 1;

        position: relative;

        background-color: #D1DAE6;

        height: 100vw;
        width: 32vw;
        flex-direction: column;
    }

    .kob_logo_stoltze {
        position: absolute;

        height: auto;
        width: 35vw;

        top: 18.7vw;
        left: 14vw;

        transform: rotate(90deg);
    }

    .kob_logo {
        position: absolute;

        height: 3.5vw;
        width: auto;

        top: 1vw;
        left: 20vw;
    }

    .kob_linje {
        position: absolute;

        height: 32vw;
        width: auto;

        left: 18vw;
        top: 4.2vw;

        transform: rotate(180deg);
        transform: scaleY(-1);
    }

    .kob_info_container {
        padding: 4vw 4vw 4vw 6vw;

        width: 68vw;
        height: 25vw;

        position: absolute;
        left: 32vw;
        top: 43vw;

        color: black;

    }

    .kob_info_container p {
        font-size: 1.4vw;
        margin-top: 1.2vw;
    }

    .kob_info_container h2 {
        font-size: 2.8vw;
    }

    .kob_info_container h4 {
        font-size: 1vw;
        margin-left: 37vw;
    }

    .kob_info_container2 {
        padding: 0vw;
        padding-left: 6vw;

        width: 34vw;
        height: 35vw;

        position: absolute;
        left: 32vw;
        top: 68vw;
    }

    .kob_info_container3 {
        padding: 0vw;
        padding-left: 6vw;

        width: 34vw;
        height: 35vw;

        position: absolute;
        left: 66vw;
        top: 68vw;
    }

    .billede_1 {
        width: 25vw;
        height: 30vw;

        background-size: contain;
        background-repeat: no-repeat;
    }

    .billede_2 {
        width: 25vw;
        height: 30vw;

        background-size: contain;
        background-repeat: no-repeat;

    }

}

/*-----------jalksjdl--------------*/

.hide {
    display: none;
}

.logo_sort {
    background-image: url(stoltze_logo_sort.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 7vw;
    width: 40vw;
}

.logo_sort_transform {
    animation: stoltze_logo_sort 1s linear forwards;
}

.logo_hvid {
    background-image: url(stoltze_logo_hvid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 7vw;
    width: 40vw;

    margin-top: 2vw;

    position: absolute;

    animation: stoltze_logo 0.5s linear forwards;
}

#skfit {
    position: fixed;
}

.se_mere {
    width: 20vw;
    height: 2vw;
    font-size: 2.8rem;

    position: relative;
    left: 0vw;
    top: 75vw;

    color: white;
    font-style: italic;

    cursor: default;
}

.se_mere_pil {
    position: relative;

    height: 4vw;
    width: 20vw;

    top: 76.5vw;
    right: 24vw;
}

.se_mere_pink {
    width: 16vw;
    height: 4vw;
    font-size: 2.8rem;

    position: absolute;

    left: 64vw;
    bottom: 3.5vw;

    cursor: default;

    color: white;
    font-style: italic;

}

.se_mere_pil_pink {
    position: absolute;

    height: 4vw;
    width: 20vw;

    bottom: 2vw;
    left: 60vw;
}

.se_mere_blaa {
    width: 16vw;
    height: 4vw;
    font-size: 2.8rem;

    cursor: default;

    position: absolute;

    left: 64vw;
    bottom: 3.5vw;

    color: white;
    font-style: italic;

}

.se_mere_pil_blaa {
    position: absolute;

    height: 4vw;
    width: 20vw;

    bottom: 2vw;
    left: 60vw;
}

.se_mere_pil:hover,
.se_mere_pil_gul:hover,
.se_mere_pil_pink:hover,
.se_mere_pil_blaa:hover,
.se_mere_pil_groen:hover {
    animation: drej 0.1s linear forwards;
}


.se_mere_groen {
    width: 10vw;
    height: 4vw;
    font-size: 2.8rem;


    cursor: default;

    position: absolute;

    left: 64vw;
    bottom: 10vw;



    color: white;
    font-style: italic;

}

.se_mere_pil_groen {
    position: absolute;

    height: 4vw;
    width: 20vw;

    bottom: 8.5vw;
    left: 60vw;
}

#stop {
    left: 31vw;
}


/*
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
*/

/*----------singleView---------------*/

#se_mere {
    display: flex;
}

.smykke_tekst_container {
    flex-basis: 200px;
    flex-grow: 5;

    height: 80vh;
    width: 40vw;
}

.smykke_tekst {
    height: 72vh;
    width: 50vw;

    background-color: #BC9C67;

    left: 2vw;
    top: 2vw;
    position: absolute;

    padding: 7vw;

    color: white;
    font-size: 2.4rem;
}

.smykke_billede_container {
    flex-basis: 200px;
    flex-grow: 8;
}

.smykke_billede {
    background-size: cover;
    background-repeat: no-repeat;
    /*    position: absolute;*/

    height: 80vh;
    width: 50vw;

    margin-left: 9vw;
}

.tilbage {
    width: 16vw;
    height: 4vw;
    font-size: 2.8vw;
    /*    background-color: aqua;*/

    cursor: default;

    position: relative;

    left: 8vw;
    top: 63vh;

    color: white;
    font-style: italic;

}

.pil_tilbage {
    position: relative;

    height: 8vh;
    width: 20vw;


    top: 30.5vw;
    left: 0vw;

}

.hvid_pil_tilbage {
    transform: scaleX(-1);

    position: absolute;
}

.pil_tilbage:hover {
    animation: pil_tilbage 0.1s linear forwards;
    transform: scaleX(-1);
}

#singleview_b_container {
    display: flex;

    flex-direction: row;

    height: 50vh;
    width: 100vw;
}

.singleview_b1 {

    flex-basis: 200px;
    flex-grow: 1;

    background-size: cover;

    margin: 2vw;
}

.singleview_b2 {
    flex-basis: 200px;
    flex-grow: 1;

    background-size: cover;

    margin: 2vw;
}


.singleview_b3 {
    flex-basis: 200px;
    flex-grow: 1;

    background-size: cover;

    margin: 2vw;
}

.pil_ned {
    position: fixed;
    height: 5vw;
    width: 5vw;

    bottom: 0vw;
    left: 47.5vw;
    animation: pulse 1.5s linear infinite;
}

/*----------------animationer-----------------*/

@keyframes pil_tilbage {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-1.3vw);
    }
}

@keyframes pulse {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes stoltze_logo {

    0% {
        transform: translateY(-88px);
    }

    100% {
        transform: translateY(0px);
    }
}

.slideUp {
    animation: slideUp 0.6s linear forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes drej {

    0% {
        transform: rotate(0deg);
        transform-origin: top;
    }

    100% {
        transform: rotate(0deg);
        transform: translateX(2.8vw);
    }
}

/*---------Load animation----------*/

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-size: cover;
    height: 100vh;
    display: table;

}

#wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;

}

.text {
    position: fixed;
    top: 32%;
    left: 19.5%;
    width: 60%;
    font-size: 9.1rem;
}

line {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 300;
    opacity: 10;
    animation: animate 5s;

}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 300;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 300;
    }

    90% {
        fill: rgba (255, 255, 255, 0);
    }

    100% {
        opacity: 10;
        fill: rgba (255, 255, 255, 1);
        stroke-dashoffset: 0;

    }
}

#forside {
    display: none;
}
